*{
    margin: 0;
    padding: 0; 
}
body{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-image: url('../img/home1.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
    
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: url(1.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a {
	color: #080303;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 50px;
}
.nav-area li a:hover {
	background: #ffffff;
	color: #6c6a6a;
}
.logo{
    float: left;
}
.logo img{
    width: 100%;
    padding: 15px 0;
}

.welcome-text {
    width: 100%;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.welcome-text h1 {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 65px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.welcome-text a {
	border: 1px solid #ffffff;
	padding: 10px 25px;
	text-decoration: rgb(46, 46, 196);
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #ffffff;
	font-weight: 900;
}
.welcome-text a:hover {
	background: #ffffff;
	color: #5b5858;
}

/*resposive*/

@media (max-width:600px){
    .wrapper {
width: 100%;
}
.logo {
float: none;
width: 20%;
text-align: center;
margin: auto;
}
.nav-area {
float: none;
margin-top: 0;
}
    .nav-area li a {
padding: 5px;
font-size: 11px;
}
.nav-area {
text-align: center;
}
    
    .welcome-text h1 {
font-size: 30px;
}
}
